* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  
}

p {
  margin-bottom 10px: ;
}
.hero-banner {
position: relative;
  height: 150px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/background2.jpg");
  background-size: cover;
  background-position: center;
}
header nav{
  padding-top: 15px;
  margin-right: 25px;
  font-size: 18px;
}
header nav ul{
  list-style-type: none;
}
header nav ul li{
  display: inline-block;
  margin-left: 25px;
}
.page-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgb(51, 49, 49);
  color: azure;

}
nav li{
  margin-right: 15px;
}
nav a{
  color: whitesmoke;
  position: relative;
  text-decoration: none;
  justify-items: end

}
nav a::after{
  content:"";
  display: block;
  width: 100%;
  height: 1px;
  background-color: whitesmoke;
  position: absolute;
  bottom: 0;
  left: 0;
}
.hero-banner h2{
  bottom: 20px;
  right: 50px;
position: absolute;
}
h1{
  background-color: black;
  display: inline-block;
  color: whitesmoke;
  padding-left: 70px;
  border-radius: 2px;
  margin: 0;
}
.page-section{
  align-items: center;
  display: flex;
}
.title, .text {
  padding: 20px;
  display:inline ;
 
}
.title{
  padding-left: 50px;
  text-align: right;
}





